.footer{
    background-color: rgb(255, 255, 255);
    height: 100px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    text-align: center;
    padding-top: 50px;
}
.footer-para{
    margin: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
    color: black;
}