.footer{
    background-color: rgb(0, 0, 0);
    height: 100px;
    color: rgb(175, 175, 175);
    overflow: hidden;
    text-align: center
}
p{
    margin: 50px;
    font-family: 'Sawarabi Gothic', sans-serif;
}